@model MvcCv.Models.Siniflarim.ProjeMesajlar

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string Durum = "";
    string value = "";
}

<br />
<h2>Projects & Comments</h2>
<br />
<div id="accordion">
    @foreach (var item in Model.proje)
    {
        <div class="card">
            <div class="card-header bg-dark " id="heading_@item.id">
                <form action="/ProjeMesaj/Index/@item.id" method="get">
                    <h5 class="mb-0 ">
                        <button class="btn text-light" type="button" data-toggle="collapse" data-target="#collapse_@item.id" aria-expanded="true" aria-controls="collapse_@item.id">
                            @item.id) @item.ProjeName
                        </button>
                    </h5>
                </form>
            </div>
            <div id="collapse_@item.id" class="collapse" aria-labelledby="heading_@item.id" data-parent="#accordion">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Subject</th>
                            <th>Mail</th>
                            <th>Contents</th>
                            <th>Status</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    @foreach (var mesaj in Model.mesaj)
                    {
                        if (mesaj.ProjeId == item.id)
                        {
                            @*<div class="card-body">
                                    @mesaj.Icerik
                                    <a class="btn btn-primary ml-4 mb-2" href="/ProjeMesaj/YorumSil/@mesaj.Id">Sil</a>
                                </div>*@

                            <tr>
                                <td>@mesaj.Id</td>
                                <td>@mesaj.Konu</td>
                                <td>@mesaj.Mail</td>
                                <td>@mesaj.Icerik</td>
                                @if (mesaj.Durum == true)
                                {
                                    <td class="text-success">Active</td>
                                }
                                else
                                {
                                    <td class="text-danger">Deactive</td>
                                }
                                <td>
                                    @if (mesaj.Durum == true)
                                    {
                                        Durum = "btn-primary";
                                        value = "Hide";
                                    }
                                    else
                                    {
                                        Durum = "btn-warning ";
                                        value = "Show";
                                    }
                                    <a href="/ProjeMesaj/YorumSil/@mesaj.Id" class="btn @Durum btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                        @value
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    }
</div>