@model MvcCv.Models.Entity.TblEgitimlerim
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Education Update Page</h4>
<br />
<form method="post">
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color:red" })
    <br />
    @Html.Label("Subtitle 1")
    @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control" })
    <br />
    @Html.Label("Subtitle 2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Grade Point Avarage (GPA)")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "color:blue" })
    <br />
    <button class="btn btn-info">Save</button>
</form>

