@model MvcCv.Models.Entity.TblProjelerim

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Update Project Page</h4>
<br />
<form method="post">
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.ProjeName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProjeName, "", new { @style = "color:red" })
    <br />
    @Html.Label("Project Explanation")
    @Html.TextAreaFor(x => x.ProjeAciklama, new { @class = "form-control", @rows = 4 })
    @Html.ValidationMessageFor(x => x.ProjeName, "", new { @style = "color:red" })
    <br />
    @Html.Label("Project Picture 1")
    @Html.TextBoxFor(x => x.ProjeResim1, new { @class = "form-control" })    
    <br />
    @Html.Label("Project Picture 2")
    @Html.TextBoxFor(x => x.ProjeResim2, new { @class = "form-control" })    
    <br />
    @Html.Label("Project Picture 2 Explanation")
    @Html.TextAreaFor(x => x.ProjeResim2Açıklama, new { @class = "form-control", @rows = 2 })
    <br />
    @Html.Label("Project Picture 3")
    @Html.TextBoxFor(x => x.ProjeResim3Açıklama, new { @class = "form-control" })
    <br />
    @Html.Label("Project Link")
    @Html.TextBoxFor(x => x.ProjeLink, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Update</button>
</form>
