@model MvcCv.Models.Entity.TblProjelerim

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Proje Ekleme Sayfası</h4>
<br />
<form method="post">
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.ProjeName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProjeName, "", new { @style = "color:red" })
    <br />
    @Html.Label("Proje Açıklama")
    @Html.TextAreaFor(x => x.ProjeAciklama, new { @class = "form-control", @rows = 4 })
    @Html.ValidationMessageFor(x => x.ProjeName, "", new { @style = "color:red" })
    <br />
    @Html.Label("Proje Resim 1")
    @Html.TextBoxFor(x => x.ProjeResim1, new { @class = "form-control" })
    <img src="@Model.ProjeResim1" class="img-thumbnail w-25 my-1" />
    <br />
    @Html.Label("Proje Resim 2")
    @Html.TextBoxFor(x => x.ProjeResim2, new { @class = "form-control" })
    <img src="@Model.ProjeResim2" class="img-thumbnail w-25 my-1" />
    <br />
    @Html.Label("Proje Resim 2 Açıklama")
    @Html.TextAreaFor(x => x.ProjeResim2Açıklama, new { @class = "form-control", @rows = 2 })
    <br />
    @Html.Label("Proje Resim 3")
    @Html.TextBoxFor(x => x.ProjeResim3Açıklama, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>
